html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

/* Nav */
.header {
  display: flex;
	justify-content: space-between;
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 2px solid #999999;
	background-color: #e2c740;
	border-radius: 0 0 10px 10px;
}

.main-nav {
  display: flex;
	margin-top: 5px;
}

.header h2, .header h3, .header a {
	color: #34495e;
}

.logo {
	font-size: 1.5em;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/* Opportunity */

.resourceTab h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: Impact, fantasy;
  padding-top: 5vw;
}

.resourceTab h1 > a {
  color: #404040;
  padding: 5vw 10vw 5vw 10vw;
}

.resourceTab h2 {
  font-size: 25px;
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 1vw 10vw 1vw 15vw;
}

.resourceTab h3 {
  font-size: 19px;
  font-weight: bold;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 1vw 10vw 1vw 15vw;
}

.resourceTab h4 {
  font-size: 19px;
  font-family: italic;
  padding: 1vw 10vw 1vw 15vw;
}

.resourceTab a {
  color: #998200;
  padding: 1vw 10vw 1vw 15vw;
}